#crew
  .row
    %h2.text-center Expidition 44 Crew
  .row
    .expidition-patch.text-center
      = image_tag 'iss044-insignia.jpg', width: "400px"
  .row
    .col-sm-4
      .crew-member-1.text-center
        = link_to "http://www.jsc.nasa.gov/Bios/htmlbios/kellysj.pdf", target: "_blank" do
          = image_tag 'stationcdrkelly.jpg', width: "260px", data: {"toggle": "popover", "content": "Popover", "trigger": "hover", "placement": "right"}
        .crew-name.text-center Scott Kelly
        .nationality-usa
        .crew-member-highlight.text-center (Year in Space Mission)
    .col-sm-4
      .crew-member-2.text-center
        = link_to "http://www.jsc.nasa.gov/Bios/htmlbios/padalka.html", target: "_blank" do
          = image_tag 'padalka.jpg', width: "260px", data: {"toggle": "popover", "content": "Popover", "trigger": "hover", "placement": "right"}
        .crew-name.text-center Commander Gennady Padalka
        .nationality-russia
        .crew-member-highlight.text-center
    .col-sm-4
      .crew-member-3.text-center
        = link_to "http://www.jsc.nasa.gov/Bios/htmlbios/kornienko.html", target: "_blank" do
          = image_tag 'mkornienko.jpg', width: "260px", data: {"toggle": "popover", "content": "Popover", "trigger": "hover", "placement": "left"}
        .crew-name.text-center Mikhail Kornienko
        .nationality-russia
        .crew-member-highlight.text-center (Year in Space Mission)
  .row.second-row
    .col-sm-4
      .crew-member-4.text-center
        = link_to "http://www.jsc.nasa.gov/Bios/htmlbios/kononenko.html", target: "_blank" do
          = image_tag 'kononenko.jpg', width: "260px", data: {"toggle": "popover", "content": "Popover", "trigger": "hover", "placement": "right"}
        .crew-name.text-center Oleg Kononenko
        .nationality-russia
        .crew-member-highlight.text-center (Arriving late July)
    .col-sm-4
      .crew-member-5.text-center
        = link_to "http://www.jsc.nasa.gov/Bios/htmlbios/lindgren-kn.html", target: "_blank" do
          = image_tag 'lindgren.jpg', width: "260px", data: {"toggle": "popover", "content": "Popover", "trigger": "hover", "placement": "right"}
        .crew-name.text-center Kjell Lindgren
        .nationality-us
        .crew-member-highlight.text-center (Arriving late July)
    .col-sm-4
      .crew-member-6.text-center
        = link_to "http://iss.jaxa.jp/en/astro/biographies/yui/index.html", target: "_blank" do
          = image_tag 'yui.jpg', width: "260px", data: {"toggle": "popover", "content": "Popover", "trigger": "hover", "placement": "left"}
        .crew-name.text-center Kimiya Yui
        .nationality-japan
        .crew-member-highlight.text-center (Arriving late July)
