#image-gallery
  #links
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/iss_current.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/iss_current.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/iss043e276473.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/iss043e276473.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/iss043e279223.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/iss043e279223.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/iss043e284928.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/iss043e284928.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/iss043e284951.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/iss043e284951.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/iss044e001198.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/iss044e001198.jpg'}"}


    %a{"data-gallery" => "", :href => "#{image_path 'gallery/24BCA07800000578-2912489-image-a-24_1421364580948.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/24BCA07800000578-2912489-image-a-24_1421364580948 thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/243.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/243 thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/693259main_jsc2012e219094_big.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/693259main_jsc2012e219094_big thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/6324139_orig.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/6324139_orig thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/131122125841-nasa-instagram-earth-horizontal-large-gallery.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/131122125841-nasa-instagram-earth-horizontal-large-gallery thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/Earth-Space-astronauts-ISS.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/Earth-Space-astronauts-ISS thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/Forward_view_of_interior_of_Zvezda.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/Forward_view_of_interior_of_Zvezda thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/interior-view-of-the-destiny-laboratory-on-the-international-space-station-iss-during-the-expedition-7-mission-nasa.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/interior-view-of-the-destiny-laboratory-on-the-international-space-station-iss-during-the-expedition-7-mission-nasa thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/ISS_Expedition_37_crew_portrait_inside_Kibo.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/ISS_Expedition_37_crew_portrait_inside_Kibo thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/iss_visitors_country.png'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/iss_visitors_country thumb.png'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/iss030e078095.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/iss030e078095 thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/jsc2012e238476.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/jsc2012e238476 thumb.jpg'}"}
    %a{"data-gallery" => "", :href => "#{image_path 'gallery/sts104-315-013.jpg'}"}
      %img{:src => "#{image_path 'gallery/thumbnails/sts104-315-013 thumb.jpg'}"}

  #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls{"data-use-bootstrap-modal": "false"}
    / The container for the modal slides
    .slides
    / Controls for the borderless lightbox
    %h3.title
    %a.prev ‹
    %a.next ›
    %a.close ×
    %a.play-pause
    %ol.indicator
    / The modal dialog, which will be used to wrap the lightbox content
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", :type => "button"} &times;
            %h4.modal-title
          .modal-body.next
          .modal-footer
            %button.btn.btn-default.pull-left.prev{:type => "button"}
              %i.glyphicon.glyphicon-chevron-left
              Previous
            %button.btn.btn-primary.next{:type => "button"}
              Next
              %i.glyphicon.glyphicon-chevron-right

:javascript
  document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
  };