!!!
%html
  %head
    %title ISS
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content:"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Roboto+Slab:300,400', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag :modernizr
    = csrf_meta_tags
  %body
    #alerts.center-block
      - flash.each do |name, msg|
        - if !msg.blank? && name != "errors"
          %div{class: "#{flash_class(name)} alert-dismissable"}
            %button.close{type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;
            = msg

    %header#main
      .navbar.navbar-default
        .navbar-header
          %button.navbar-toggle.collapsed{type:"button", "data-toggle": "collapse", "data-target": "#bs-example-navbar-collapse-1"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          .navbar-brand
            = link_to root_path do
              = image_tag "ISS_emblem.png", width: "64px", alt: "ISS Emblem", class: "vive-log-image"

        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav
            %li
              %a{ href: root_path}
                Home
            / %li
            /   %a{ href: "#"}
            /     Facts/Figures
            
            %li
              %a{ href: pages_crew_path}
                Crew
            %li
              %a{ href: pages_video_feeds_path}
                Live Video
            %li
              %a{ href: pages_gallery_path}
                Gallery

    .container
      = yield

    = yield :modals

